@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<div class="container__banner">
    <a href="" class="container__banner-main"><img src="~/images/main-banner.jpg" alt=""></a>

    <div class="container__banner-option">
        <div class="container__banner-man">
            <a href="">
                <img src="~/images/for-man.jpg" alt="">
                <label>Đồng hồ nam</label>
            </a>
        </div>

        <div class="container__banner-woman">
            <a href="">
                <img src="~/images/for-woman.jpg" alt="">
                <label>Đồng hồ nữ</label>
            </a>
        </div>
    </div>
</div>
